<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>THP</title>
<!-- Bootstrap core CSS-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<!-- Custom fonts for this template-->
<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- Custom styles for this template-->
<link href="css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
	<div class="container">
		<div class="card card-register mx-auto mt-5">
			<div class="card-header">Register an Account</div>
			<div class="card-body">

				<form th:action="@{/userModifying}" method="post" th:object="${modifyForm}" enctype="multipart/form-data" th:name="profile">

					<div class="form-group">
						<label for="inputName">Name</label> 
						<input th:field="*{name}" class="form-control" id="inputName" type="text" aria-describedby="nameHelp" placeholder="名前" th:maxlength="10">
						<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
					</div>

					<div class="form-group">
						<label for="inputName">Nick Name</label> 
						<input th:field="*{nickName}" class="form-control" id="inputNickName" type="text" aria-describedby="nameHelp" placeholder="ニックネーム " th:maxlength="20">
						<!-- <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p> -->
					</div>

					<div class="form-group">
						<label for="inputAdd">Address</label> 
						<input th:field="*{address}" class="form-control" id="inputAdd" type="text" aria-describedby="emailHelp" placeholder="住所">
						<p th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Incorrect date</p>
					</div>

					<div class="form-group">
						<label for="inputTel">Tel</label> 
						<input th:field="*{tel}" class="form-control" id="inputTel" type="tel" aria-describedby="emailHelp" placeholder="電話番号">
						<p th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}">Incorrect date</p>
					</div>

					<div class="form-group">
						<label for="inputEmail">Email</label> 
						<input th:field="*{email}" class="form-control" id="inputEmail" type="email" aria-describedby="emailHelp" placeholder="メールアドレス">
						<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect date</p>
					</div>
				
					<div class="form-group">
						<label for="inputProfile">Profile</label> 
						<input th:name="pic" onchange="readURL(this);" class="form-control" type="file" aria-describedby="ProfileHelp">
						<img class="card-img-top img-fluid" id="blah" src="http://via.placeholder.com/320x250" />
					</div>

					<button type="submit" class="btn btn-primary btn-block">Register</button>

				</form>

					<div class="text-center">
						<a class="d-block small mt-3" th:href="@{/myPage}">My Page</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>
	<!-- Bootstrap core JavaScript-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"></script>
	<!-- Core plugin JavaScript-->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script>
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function(e) {
					$('#blah').attr('src', e.target.result).width(300).height(
							220);
				};
				reader.readAsDataURL(input.files[0]);
			}
		}
	</script>
</body>

</html>
